body{
	background-color:#777;
}

.mess{animation-name: slidein;
	animation-duration: 5s;
	color :red ;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }